# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Node.js / Web
node_modules/
npm-debug.log
yarn-error.log

# Carpetas externas / Ejemplos
App de ejemplo/

# Android
android/app/google-services.json
android/.gradle
android/local.properties
android/.idea
android/app/src/main/assets/.env

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Runner/GoogleService-Info.plist
ios/.generated/

# IDEs
.idea/
.vscode/
*.iml
.DS_Store

# Environment variables
.env
assets/.env
